@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body{
  width: 100%;
  height: 50rem;
  /* background: linear-gradient(135deg, #00feba, #5b548a); */
  background: url(./img/niagara.jpg) no-repeat center center/cover;
  color: white;
}

/* .app::before{
  content: '';
  background: url(./img/niagara.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 130%;
  top: 0;
  left: 0;
  z-index: -1;
} */

/* HEADER */

.header{
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10rem;
  background-color: #1a205c4b;
}

.header--logo{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideDown 0.7s ease forwards;
}

.main{
  display: flex;
  justify-content: space-between;
}

/* WEATHER-DATA */

.fav2{
  width: 22%;
  height: 90vh;
  margin-top: 1vh;
  margin-left: 0.5rem;
  /* font-size: 30px; */
  font-size: 1.9rem;
  background-color: rgba(255,255, 255, 0.4);
  border-radius: 1%;
  display: inline-block;
  animation: slideRightFav 1.3s ease forwards;
}


.weather--data{
  width: 70%;
  height: 37rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* SEARCH */
  /* .search{
    margin-top: 10px;
    width: 55%;
    height: 2rem;
    background-color: rgba(255,255, 255, 0.4);
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    color: white;
  }
  .search:active, .search:focus{
    outline: none;
  }

  ::placeholder{
    color: white;
  } */

.search--icon{
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.location-icon{
  color: rgba(255,255, 255, 0.9);
  margin-top: 1.5vh;
  margin-right: 0.3rem;
  transition: transform .5s;
}
.location-icon:hover{
  color: rgba(29, 142, 207, 0.6);
  cursor: pointer;
  transform: scale(1.2);
}

.weather--info{
  width: 60%;
  height: 45vh;
  background-color: rgba(255,255, 255, 0.2);
  border-radius: 1%;
  animation: zoomIn 0.6s ease forwards
}

.data-value{
  color: white;
}

.city--timeDay{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.city--timeDay .description{
  margin-top: -10px;
}
.weather--data--main{
  display: flex;
}

.left--currentTemp--icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

.currentTemp{
  font-size: 70px;
  font-size: 4.4rem;
}
.weather--icon{
  width: 8rem;
  height: 20vh;
  margin-left: 2em;
  margin-bottom: 1.5vh;
}

.weather--stats{
  margin-top: 2.3vh;
  height: 15vh;
  background-color: rgba(139, 136, 136, 0.7);
  border-radius: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 
.weather--stats--names{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.weather--stats--values{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
} */



.feels--like .wind .humidity .pressure{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.stats--name{
  /* font-size: 18px; */
  font-size: 1.1rem;
  color: white;
  text-align: center;
}

.stats--value{
  /* font-size: 20px; */
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

/* FORECAST */

.forecast{
  width: 90%;
  height: 28vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast--card{
  width: 18%;
  height: 100%;
  background-color: rgba(255,255, 255, 0.3);
  border-radius: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: slideRight 0.7s ease forwards;
}

.weather--icon--forecast{
  width: 8rem;
  height: 20vh;
}

.minMax--temp{
  /* font-size: 20px; */
  font-size: 1.25rem;
}

.fav{
  position: relative;
  width: 100%;
  margin-top: 1.6vh;
  margin-bottom: 1.6vh;
  height: 27%;
  background-color: rgba(255,255, 255, 0.3);
  border-radius: 3%;
  transition: transform .1s;  
}

.fav:hover{
  background-color: rgba(255,255, 255, 0.8);
  color: black;
  transform: scale(1.02);
  cursor: pointer;
}

.favoriteCards{
  height: 100%;
}

.favorites--city--description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorites--city{
  font-weight: 600;
  font-size: 1.25rem;
  margin-left: 0.6rem;
}
.favorites--description{
  font-weight: 500;
  font-size: 1.1rem;
  margin-right: 0.2rem;
}

.favorites--temperature--img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorites--temperature{
  /* font-size: 35px; */
  font-size: 2.2rem;
  font-weight: bold;
}
.favorites--img{
  /* width: 80px; */
  width: 5rem;
  /* height: 80px; */
  height: 12.5vh;
  margin-left: 1rem;
  margin-top: -0.5rem;
}
.favorites--feelsLike{
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  font-size: 1.3rem;
}
.favorites--delete--icon{
  position: absolute;
  bottom: 1%;
  left: 89%;
  z-index: 1000;
}
.favorites--delete--icon:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: rgb(189, 9, 9);
}

.fav2 .fav--title{
  font-size: 22px;
  text-align: center;
}
.loading--screen{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.5);
}


@keyframes slideDown {
  0%{
      opacity: 0;
      transform: translateY(-60px);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes slideRight {
  0%{
      opacity: 0;
      transform: translateX(-80px);
  }
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes slideLeft {
  0%{
      opacity: 0;
      transform: translateX(80px);
  }
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes slideRightFav {
  0%{
      opacity: 0;
      transform: translateX(-300px);
  }
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes zoomIn {
  0%{
      opacity: 0;
      transform: scale(0);
  }
  100%{
      opacity: 1;
      transform: scale(1);
  }
}



@media screen and (max-width: 900px) {
  .favorites--temperature ,.favorites--city, .favorites--description, .favorites--feelsLike, .minMax--temp,.dayName,.city, .description, .timeDay, .currentTemp, .weather--icon, .stats--name, .stats--value{
    font-size: 10px;
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header--title{
    font-size: 18px;
    margin-right: 20px;
  }
  .cloud--icon{
    width: 35px;
    height: 35px;
  }
  .header--logo{
    margin-left: 10px;
  }
  .location-icon{
    width: 30px;
    height: 30px;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 0;
  }
  .weather--info{
    margin-top: -70px;
    width: 120%;
    height: 167px;
  }
  .weather--stats{
    margin-top: 24.5px;
    height: 50px;
  }
  .weather--data{
    margin-right: 0;
    order: 1;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .city{
    font-size: 15px;
  }
  .city--timeDay .description{
    margin-top: -5px;
    font-size: 12px;
  }
  .timeDay{
    font-size: 13px;
  }
  .currentTemp{
    font-size: 40px;
  }
  .weather--icon{
    width: 70px;
    height: 70px;
  }
  .left--currentTemp--icon{
    height: 5vh;
  }
  .forecast{
    margin-top: 20px;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .forecast--card{
    height: 100px;
    width: 70px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.45);
    animation: slideDown 1s forwards;
  }

  .forecast--card .dayName, .minMax--temp{
    font-size: 11px;
    color: black;
  }
  .weather--icon--forecast{
    width: 55px;
    height: 55px;
  }
  .fav2{
    order: 2;
    width: 97%;
    height: 180px;
  }
  .fav2 .fav--title{
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
  }
  .fav--title--search{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .favoriteCards{
    margin-top: -15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .fav{
    width: 31.5%;
    height: 14vh;
  }
  .favorites--img{
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    margin-top: -0.5rem;
  }
  .favorites--city{
    font-size: 13px;
    margin-left: 0.2rem;
  }
  .favorites--temperature{
    font-size: 15px;
  }
  .favorites--feelsLike{
    font-size: 10px;
    margin-left: -20px;
  }
  .favorites--delete--icon{
    position: absolute;
    bottom: 1%;
    left: 82%;
    width: 20px;
    height: 20px;
  }
  .favorites--delete--icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(189, 9, 9);
  }

}

@media screen and (min-width: 1367px) and (max-width: 1921px){
  .weather--data{
    height: 90vh;
  }
  .fav2{
    height: 90vh;
  }
  .weather--icon{
    width: 170px;
    height: 170px;
  }
  .weather--icon--forecast{
    width: 170px;
    height: 170px;
  }
  .favorites--img{
    width: 145px;
    height: 145px;
  }
  .favorites--temperature{
    font-size: 60px;
  }
  .favorites--feelsLike{
    font-size: 25px;
  }
  .favorites--city{
    font-size: 24px;
  }
  .favorites--description{
    font-size: 19px;
  }
  .favorites--delete--icon{
    left: 92.5%;
    width: 35px;
    height: 35px;
  }
  .fav2{
    margin-top: 12px;
    margin-left: 10px;
  }
  .fav{
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .city{
    font-size: 35px;
  }
  .currentTemp{
    font-size: 90px;
  }
  .description{
    font-size: 22px;
  }
  .timeDay{
    font-size: 25px;
  }
  .weather--info{
    background-color: rgba(255, 255, 255, 0.2);
    height: 42vh;
  }
  .weather--stats{
    margin-top: 16px;
  }
  .stats--name, .stats--value{
    font-size: 26px;
  }
  .dayName{
    font-size: 26px;
  }
  .minMax--temp{
    font-size: 30px;
  }

};

@media screen and (min-width:1921) and (max-width: 2880) {
  .weather--data{
    height: 1000px;
  }
  .stats--name, .stats--value{
    font-size: 35px;
  }
  .weather--info{
    height: 40vh;
  }
  .dayName{
    font-size: 35px;
  }
  .minMax--temp{
    font-size: 40px;
  }
  .weather--icon{
    width: 200px;
    height: 200px;
  }
  .weather--icon--forecast{
    width: 170px;
    height: 170px;
  }
  .favorites--img{
    width: 180px;
    height: 180px;
  }
  .favorites--temperature{
    font-size: 50px;
  }
  .currentTemp{
    font-size: 95px;
  }
  .city{
    font-size: 40px;
  }
  .favorites--city{
    font-size: 30px;
  }
}